* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


h1 {
    font-family: lexend;
    color: white;
    width: 90%;
}

h2 {
    font-family: lexend;
    color: white;
    width: 90%;
}
h3 {
    font-family: lexend;
    color: white;
    width: 90%;
}

p {
    font-family: lexend;
    color: white;
    width: 90%;
}
h6 {
    font-family: lexend;
    color: white;
    font-size: 10px;
    width: 90%;
}
body {
    background-image: linear-gradient(black, rgb(71, 0, 0));
    background-attachment: fixed;
    
}
footer {
    background: #000;
    width: 100%;
    font-size: 10px;
    font-family: lexend;
    color: white;
    text-decoration: none;
}

ul {
    font-family: lexend;
    color: white;
}

.buttonMember a {
    background-image: linear-gradient(#500, #200);
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 12px;
    font-family: lexend;
    font-weight: bold;
}

.buttonMember a:hover {
    background-image: linear-gradient(#f00, #500);
}


.buttonDiscord {
    background-color: #1e1f22;
    border: none;
    color: #5865F2;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 12px;
    font-family: lexend;
    font-weight: bold;

}

.buttonDiscord:hover {
    background-color: #fff;
    color: #5865F2;
}

.bgDiscord {
    width: 95%;
    background-color: #5865F2;
    border: 5px solid white;
    border-radius: 50px;
    padding: 10px;
}


#topnav {
    background-image: linear-gradient(#000, #200);
    overflow: hidden;
    font-family: lexend;
    font-weight: bold;
    height: 50px;
    object-fit: fill;
    transition: top 0.3s;
    position: fixed;
    top: 0;
    width: 100%;
}

#topnav a {
    float: left;
    color: #fff;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;

}

#topnav a:hover {
    background-image: linear-gradient(#000, #f00);
    color: white;
}

#topnav a.ethereal {
    float: left;
    color: #fff;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    background-image: linear-gradient(#6e6c3f, #233f46);

}

#topnav a.ethereal:hover {
    background-image: linear-gradient(#ebe78a, #3e717d);
    color: white;
}

#topnav a.cpi {
    float: left;
    color: #fff;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    background-image: linear-gradient(#19050b, #4b1021) ;

}

#topnav a.cpi:hover {
    background-image: linear-gradient(#19050b, #dd3062);
    color: white;
}




#topnav a.rainbow {
    float: left;
    color: #000;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
        background: linear-gradient(
        90deg,
        #f00 0%,
        #fa0 20%,
        #ff0 40%,
        #0f0 60%,
        #00f 80%,
        #f0f 100%
    );

}
#topnav a.rainbow:hover {
    background: linear-gradient(to right, #f00, #fa0 , #ff0, #0f0, #00f, #f0f, #f00, #fa0 , #ff0, #0f0, #00f, #f0f);
    animation: rainbow_animation 3s linear infinite;
    background-size: 400% 100%;
}
@keyframes rainbow_animation {
    0% {
        background-position: 0 0;
    }

    100% {
        background-position: 73% 0;
    }
}

.Links {
    align-items: center;
    display: block;
    text-decoration: none;
    
}

.Links a {
    font-family: lexend;
    font-weight: bold;
    font-size: 20px;
    color: white;
    text-decoration: none;

}
.RecentVideo {
    font-family: lexend;
    font-weight: bold;
    color: white;
    font-size: 40px;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 600px;
}
.RecentVideo a {
    width: 40%;
    justify-content: right;
    align-items: center;
}
.RecentVideo b {
    width: 40%;
    justify-content: left;
    font-size: 10px;
    align-items: center;
}
.RecentVideo c {
    width: 10%;
}

.EastWestAffiliate {
    width: 90%;
}

.songButton {
    overflow: hidden;
    font-family: lexend;
    font-weight: bold;
    justify-content: center;
    height: 25px;
}

.songButton a {
    background-image: linear-gradient(#000, #200);
    float: center;
    color: #fff;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    border-radius: 25px;
}

.songButton a:hover {
    background-image: linear-gradient(#000, #500);
    color: white;
}


.alignRight {
    margin: 10px;
    position: absolute;
}

.Membership {
    display: flex;
    width: 95%;
    border: 5px solid white;
    align-items: center;
    justify-content: center;
}

    .center {
        height: 100vh;
        border: 25px solid #f00;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .center a.button {
        background-image: linear-gradient(#500, #000);
        color: #fff;
        padding: 15px 32px;
        text-align: center;
        text-decoration: none;
        font-size: 25px;
        cursor: pointer;
        border-radius: 12px;
        font-family: lexend;
        font-weight: bold;
    }